.row 
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th
          MAC адрес
        %th
          Имя пользователя
        %th
          Описание
        %th
          Комментарий
    %tbody
    - @logins.each do |login|
      %tr
        %td
          = login.username
        %td
          = login.given_name
        %td
          = login.description
        %td
          = login.comment

  = link_to "Добавить", new_login_path, class: "btn btn-primary" 
.row 
  .col-sm-12
    = paginate @logins, theme: 'twitter-bootstrap-4'