%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'AquaRadius', logins_path, class: 'navbar-brand'
  .collapse.navbar-collapse
    %ul.navbar-nav
      - if current_user
        %li
          = link_to 'Клиенты', logins_path, class: 'nav-link'
        %li
          = link_to 'Попытки входа', login_status_path, class: 'nav-link'
    %ul.nav.navbar-nav.ml-auto
      - if current_user
        %li
          = link_to 'Очистить базу', clear_db_path, class: 'nav-link'
        %li
          = link_to t('common.logout'), sign_out_path, class: 'nav-link'
      -# %li.nav-item
      -#   Add
      -# %li.nav-item
      -#   Add

  
  -# .container
  -#   .navbar-header
  -#     %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbarCollapse",  "aria-expanded" => "false"}
  -#       %span.sr-only Toggle navigation
  -#       %span.icon-bar
  -#       %span.icon-bar
  -#       %span.icon-bar

    -# - if user_signed_in?
    -#   #navbarCollapse.collapse.navbar-collapse
    -#     %ul.nav.navbar-nav
    -#       %li{class: ("active" if current_page?(transactions_path)) }
    -#         = link_to t('transaction.transactions'), transactions_path
    -#       %li{class: ("active" if current_page?(transfers_path)) }
    -#         = link_to t('transfer.transfers'), transfers_path
    -#       %li{class: ("active" if current_page?(planned_fees_path)) }
    -#         = link_to t('planned_fee.planned_fees'), planned_fees_path
    -#       %li.dropdown{class: ("active" if current_page?(reports_path))}
    -#         %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown",
    -#                            role: "button", "aria-haspopup" => "true",
    -#                            "aria-expanded" => "false"}
    -#           = t('Отчеты')
    -#           %span.caret
    -#         %ul.dropdown-menu
    -#           %li
    -#             = link_to t('Топ категорий по месяцам'), top_categories_path
    -#           %li
    -#             = link_to t('Топ категорий по годам'), top_categories_by_year_path
    -#     %ul.nav.navbar-nav.navbar-right
    -#       %li.dropdown{class: ("active" if current_page?(accounts_path)||current_page?(categories_path)) }
    -#         %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown",
    -#                            role: "button", "aria-haspopup" => "true",
    -#                            "aria-expanded" => "false"}
    -#           = t('common.settings')
    -#           %span.caret
    -#         %ul.dropdown-menu
    -#           %li
    -#             = link_to t('account.accounts'), accounts_path
    -#           %li
    -#             = link_to t('category.categories'), categories_path
    -#           %li.divider{role: "separator"}
    -#           %li
    -#             = link_to t('planned_fee.templates'), planned_fee_templates_path
    -#           %li
    -#             = link_to t('currency.currencies'), currencies_path
    -#           %li
    -#             = link_to t('category.groups'), category_groups_path
    -#           %li.divider{role: "separator"}
    -#           %li
    -#             = link_to t('user.profile'), current_user
    -#       %li
    -#         = link_to t('common.logout'), destroy_user_session_path, method: :delete
    -# - else
      -# #navbarCollapse.collapse.navbar-collapse
      -#   %ul.nav.navbar-nav.navbar-right
          %li{class: ("active" if current_page?(dashboard_path)) }
            =link_to t('common.login'), new_login_path